.navbar{
    background-color: aqua;
    padding: 10px;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    background-color:darkcyan ;
    padding: 10px;
    border-radius: 10px;
}

.Link{
    color: black;
    text-decoration: none;
}
li:hover,.Link:hover{
    background-color: salmon;
    color: white;
}